/* Paleta Remarubi — https://coolors.co/8a8635-f59630-f7f3e3-272727-49392c */
:root {
  --olive: #a5a25b;
  --carrot-orange: #f59630;
  --ivory-mist: #f7f3e3;
  --shadow-grey: #272727;
  --taupe: #49392c;
}
